!!!__h__
/*
	Generated with mksrc.py
*/
#pragma once

#include "{{Filename}}.generated.h"

USTRUCT(BlueprintType)
struct F{{Filename}}
{
	GENERATED_USTRUCT_BODY()
public:
};

!!!__cpp__
#include "{{PCH}}"
#include "{{Filename}}.h"